{% extends 'padre/base.html' %}

{% block title %} Galeria-1 {% endblock %}
{% load static %}

{% block content %}   


    <!-- ================================================================================================= -->
    <!-- ============================           GALERIA IMAGENES           ============================= -->
    <!-- ================================================================================================= -->
      
        <div class="container-2">
        <div class="row">
          <div class="col-6 p-5">
            <div class="text">
            <h3 class="text-center fs-4">Historia</h3>
            <p class="text-center fs-6">Toda obra de arte es un ser con vida. Parte de la oscuridad total</br>
              y nace en el momento que el artista tiene una diminuta idea en mente,</br>
              la cual poco a poco ordena y nutre con sus experiencias, traumas y deseos.</br>
                Quizá tarde mucho tiempo en dibujar el primer trazo, porque en el fondo</p>
            <h3 class="text-center fs-4">Descripcion</h3>
            <p class="text-center fs-6">obra de formato rectangular. Composición </br>
              en base a cuatro barcos de vela navegando en océano azul, </br>
              en el barco del primer plano flamea una bandera de colores </br>
              blanco, azul y rojo. Fondo cielo y nubes.</p>
            <h3 class="text-center fs-4">Nombre</h3>
            <p class="text-center">El Nacimiento de Adam</p>
            <h3 class="text-center fs-4">Precio</h3>
            <p class="text-center">$600.000 CLP
            <h3 class="text-center fs-4">Tecnica Usada</h3>
            <p class="text-center">Pintura al óleo</p>
          </div>
          </div>
            


          <div class="col-6 p-5">
            <img src="img/g-1.jpg" class="img-fluid max-with:100%; img" alt="...">
          </div>
        </div>
        </div>
      
{% endblock %}

    
